* text=auto eol=lf

*.css text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf linguist-language=JavaScript
*.tsx text eol=lf linguist-language=JavaScript
*.json text eol=lf
*.html text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.sh text eol=lf
*.yml text eol=lf
.gitattributes text eol=lf
.eslintrc text eol=lf
.editorconfig text eol=lf

## HEROKU
Procfile    text
.slugignore text

## GRAPHICS
*.ai   binary
*.bmp  binary
*.eps  binary
*.gif  binary
*.ico  binary
*.jng  binary
*.jp2  binary
*.jpg  binary
*.jpeg binary
*.jpx  binary
*.jxr  binary
*.pdf  binary
*.png  binary
*.psb  binary
*.psd  binary
*.svg  text
*.svgz binary
*.tif  binary
*.tiff binary
*.wbmp binary
*.webp binary

## FONTS
*.tff   binary
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary
